.form-control{
    border: 1px solid #CCCCCC;
}
.form-title{
    text-align: center;
    color: #00aa00;
    margin-bottom: 30px;
}
.portlet-title{
    margin-bottom: 20px!important;
}
.portlet > .portlet-body.blue, .portlet.blue {
     background-color: #ffffff;
}
.grid-display {
    display: inline-block;
    padding-left: 8px;
    padding-right: 0;
    margin-top: 10px;
    text-align: center;
}

.grid-display input {
    float: left;
}
.item-header{
    font-weight: bold;
}
.main-container {
    padding: 15px;
}

.order-nav>li>a {
    padding: 10px 10px;
}